a {
    color: #2266CF;
}
.main-header .header-top .info-list li .icon {
    color: #2266CF;
}
.main-header .header-top .top-left .social-links li a:hover {
    color: #2266CF;
}
.main-header .search-box-outer .dropdown-menu {
    border-top-color: #2266CF;
}
.main-menu .navigation > li:hover > a, .main-menu .navigation > li.current > a {
    color: #2266CF;
}
.main-header .header-top {
    background-color: #2266CF;
}
#solustrid .btn-style-two {
    background-color: #2266CF;
}
.main-menu .navigation > li:hover > a, .main-menu .navigation > li.current > a, .main-menu .navigation > li.current-menu-item > a {
    color: #2266CF;
}
.main-menu .navigation > li > ul > li:hover > a {
    background-color: #2266CF;
}
.services-block-five .link-box a {
	color: #2266CF;
}
.projects-section .projects-carousel .image-carousel .content-column .read-more {
	color: #2266CF;
}
.scroll-to-top:hover {
    background: #2266CF;
}
.news-widget-block .widget-inner h3 a:hover {
    color: #2266CF;
}
.fact-counter .count-outer .count-text {
	color: #2266CF;
}
.services-block .inner-box:hover .arrow {
    background-color: #2266CF;
}
.services-block .inner-box:hover {
    border-color: #2266CF;
}
.list-style-one li:before {
	color: #2266CF;
}
.services-block-two .inner-box .lower-content h3 a:hover {
    color: #2266CF;
}
.projects-section .projects-carousel .thumbs-carousel .owl-nav .owl-prev:hover, .projects-section .projects-carousel .thumbs-carousel .owl-nav .owl-next:hover {
    border-color: #2266CF;
    background-color: #2266CF;
}
.services-section-two .owl-nav .owl-prev:hover, .services-section-two .owl-nav .owl-next:hover {
    color: #2266CF;
}
.services-block .inner-box .arrow {
	color: #2266CF;
}
.sec-title h2:before {
    background-color: #2266CF;
}
.fact-counter .count-outer {
    color: #2266CF;
}
.sticky-header .main-menu .navigation > li:hover > a, .sticky-header .main-menu .navigation > li.current > a, .sticky-header .main-menu .navigation > li.current-menu-item > a {
    color: #2266CF;
}
.feature-block-seven .link-box a {
	color: #2266CF;
}
.feature-block-seven .link-box a {
	color: #2266CF;
}
.services-categories li.active a, .services-categories li a:hover {
    border-color: #2266CF;
    background-color: #2266CF;
}
.brochures .brochure-btn:hover {
    color: #2266CF;
}
.brochures .brochure-btn span {
	color: #2266CF;
}
.feature-block .inner-box .icon-box {
	color: #2266CF;
}
.sidebar-title {
	border-left: 5px solid #2266CF;
}
.btn-style-two {
	background-color: #2266CF;
}
.support-widget .icon {
	color: #2266CF;
}
.services-detail .inner-box .lower-content .title-box h2:before {
    background-color: #2266CF;
}
.services-detail .inner-box .lower-content .text h3:before {
    background-color: #2266CF;
}










